.page_view {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  /* 使用两个背景层 */
  background: linear-gradient(
        180deg,
        rgba(235, 239, 249, 1) 0%,
        rgba(215, 224, 250, 1) 0%,
        rgba(255, 255, 255, 1) 100%,
        rgba(251, 252, 254, 1) 100%,
        rgba(247, 249, 253, 1) 100%
      )
      no-repeat,
    white;

  background-size: 100% 400px; /* 仅让渐变背景覆盖前 40px 高度 */
  background-position: top; /* 渐变背景固定在顶部 */

  .project_wrapper {
    display: flex;
    flex: 1;
    height: 100%;
    overflow-y: auto;
    // margin-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 32px;

    .select_wrap {
      .choose_place {
        height: 100%;
        // width: 64px;
        display: flex;
        gap: 4px;
        margin-right: 12px;
        align-items: center;

        .select_location_wrap {
          display: flex;
          align-items: center;
          gap: 4px;

          image {
            width: 24px;
            height: 24px;
          }
        }
      }

      // .page-section {
      display: flex;
      align-items: center;

      .item-extra__info {
        width: 40px;
        font-size: 14px;
      }

      // .at-list__item {
      //   padding: 0px;
      // }
      // }
    }
  }
}
