.page_view {
  // position: relative;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  /* 使用两个背景层 */
  background: linear-gradient(
        180deg,
        rgba(235, 239, 249, 1) 0%,
        rgba(215, 224, 250, 1) 0%,
        rgba(255, 255, 255, 1) 100%,
        rgba(251, 252, 254, 1) 100%,
        rgba(247, 249, 253, 1) 100%
      )
      no-repeat,
    white;

  background-size: 100% 300px; /* 仅让渐变背景覆盖前 40px 高度 */
  background-position: top; /* 渐变背景固定在顶部 */

  .no_collection_wrap {
    height: 100%;
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    image {
      height: 340px;
    }

    .text {
      height: 24px;
      font-size: 16px;
      font-weight: 400;
      color: rgba(87, 146, 240, 1);
      text-align: center;
    }
  }

  .user_collection_wrapper {
    display: flex;
    margin-top: 16px;
    // padding-left: 16px;
    // padding-right: 16px;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 32px;
    flex: 1;
    height: 100%;
    overflow-y: auto;

    .card_wrap {
      height: 88px;
      display: flex;
      align-items: center;
      border-radius: 8px;
      padding-left: 8px;
      padding-right: 8px;
      // box-shadow: 0 0 2px 0px #808080;
      box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.05);
      background: rgba(255, 255, 255, 1);

      .img_wrap {
        border-radius: 8px;
        height: 100%;
        width: 90px;
        height: 68px;
      }

      .info_wrap {
        margin-left: 8px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: center;
        font-size: 14px;
        font-weight: 400;

        .location {
        }

        .area {
        }

        .price {
        }
      }

      .collection {
        width: 24px;
        height: 24px;
        margin-left: auto;
      }
    }
  }
}
