.page_view {
  // position: relative;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  /* 使用两个背景层 */
  background: linear-gradient(
        180deg,
        rgba(235, 239, 249, 1) 0%,
        rgba(215, 224, 250, 1) 0%,
        rgba(255, 255, 255, 1) 100%,
        rgba(251, 252, 254, 1) 100%,
        rgba(247, 249, 253, 1) 100%
      )
      no-repeat,
    white;

  background-size: 100% 300px; /* 仅让渐变背景覆盖前 40px 高度 */
  background-position: top; /* 渐变背景固定在顶部 */

  .no_message_wrap {
    height: 100%;
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    image {
      height: 340px;
    }

    .text {
      height: 24px;
      font-size: 16px;
      font-weight: 400;
      color: rgba(87, 146, 240, 1);
      text-align: center;
    }
  }

  .message_wrapper {
    overflow-y: auto;
    margin-top: 24px;
    height: 100vh;
    display: flex;
    width: calc(100% - 32px);
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow-y: auto;
    padding-bottom: calc(constant(safe-area-inset-bottom));
    padding-bottom: calc(env(safe-area-inset-bottom));
    padding-left: 16px;
    padding-right: 16px;
    gap: 8px;
    // .avatar_warp {
    //   height: 100px;
    // }

    .message_card {
      flex-shrink: 0;
      height: 68px;
      display: flex;
      align-items: center;
      border-bottom: solid 1px rgba(230, 230, 230, 1);

      .img_wrap {
        width: 44px;
        height: 44px;
        background: rgba(154, 200, 252, 1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        image {
          flex-shrink: 0;
          width: 18px;
          height: 16px;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        margin-left: 12px;
        flex: 1;
        overflow-x: hidden;
        gap: 6px;

        .title_and_time {
          display: flex;
          justify-content: space-between;
          gap: 12px;

          .title {
            font-size: 14px;
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
          }
          .time {
            font-size: 14px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.6);
          }
        }

        .message_detail {
          text-overflow: ellipsis;
          overflow-x: hidden;
          white-space: nowrap;
          font-size: 12px;
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
        }
      }
    }
  }
}
