.top_nav_wrap {
  position: sticky;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  text {
    font-size: 17px;
    font-weight: 500;
  }

  image {
    position: absolute;
    left: 0;
    width: 12px;
    height: 24px;
    padding-left: 16px;
  }
}
