.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header {
    font-size: large; /*修改了标题文字和按钮的大小*/
    color: #605eac; /*修改了标题文字和按钮的颜色*/
  }

  .board {
    background-color: #dddcff;
    color: white;
  }
}
