@import "~taro-ui/dist/style/components/avatar.scss";
@import "~taro-ui/dist/style/components/textarea.scss";
@import "~taro-ui/dist/style/components/modal.scss";

.page_view {
  // position: relative;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  /* 使用两个背景层 */
  background: linear-gradient(
        180deg,
        rgba(235, 239, 249, 1) 0%,
        rgba(215, 224, 250, 1) 0%,
        rgba(255, 255, 255, 1) 100%,
        rgba(251, 252, 254, 1) 100%,
        rgba(247, 249, 253, 1) 100%
      )
      no-repeat,
    white;

  background-size: 100% 300px; /* 仅让渐变背景覆盖前 40px 高度 */
  background-position: top; /* 渐变背景固定在顶部 */

  .build_detail_wrap {
    display: flex;
    flex-direction: column;
    padding-bottom: calc(56px + 72px + constant(safe-area-inset-bottom));
    padding-bottom: calc(56px + 72px + env(safe-area-inset-bottom));
    padding-top: 16px;
    flex: 1;
    height: 100%;
    overflow-y: auto;

    .img_wrap {
      width: calc(100% - 32px);
      margin-left: 16px;
      margin-right: 16px;
      height: 200px;
      border-radius: 8px;

      image {
        max-height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
    }

    .building_name {
      padding-left: 16px;
      padding-right: 16px;
      margin-top: 16px;
      font-size: 16px;
      font-weight: 400;
      color: #000000;
    }

    .building_location {
      padding-left: 16px;
      padding-right: 16px;
      margin-top: 4px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      text {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        color: rgba(77, 77, 77, 1);
      }

      image {
        height: 24px;
        width: 24px;
      }
    }

    .building_info {
      padding-left: 16px;
      padding-right: 16px;
      margin-top: 24px;
      // height: 80px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;

      .info_item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        // border-width: 1px;
        // border: solid #4d4d4d;

        .value {
          font-size: 16px;
          color: rgba(0, 0, 0, 0.8);
        }

        .label {
          font-size: 12px;
          color: rgba(77, 77, 77, 0.5);
        }
      }
    }

    .desc_wrap {
      margin-top: 16px;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 16px;
      display: flex;
      flex-direction: column;
      color: rgba(77, 77, 77, 1);
      font-size: 14px;

      .business_price {
      }
      .office_price {
      }

      .desc {
        font-size: 14px;
        color: rgba(77, 77, 77, 1);
        margin-bottom: 8px;
        line-height: 20px;
      }

      .label_value_wrap {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .label_value {
          .label {
            font-size: 14px;
            color: rgba(77, 77, 77, 1);
          }

          .value {
            font-size: 14px;
            color: rgba(77, 77, 77, 0.8);
          }
        }
      }
    }

    .diver_wrap {
      height: 24px;
      background-color: rgba(170, 159, 175, 0.1);
    }

    .investment_consultant {
      padding-left: 16px;
      padding-right: 16px;
      display: flex;
      flex-direction: column;
      padding-top: 16px;
      padding-bottom: 16px;

      .title {
        font-size: 18px;
        margin-bottom: 8px;
      }

      .avatar_wrap {
        // width: calc(100% - 32px);
        width: 100%;
        overflow-x: auto;
        display: flex;
        align-items: center;
        height: 120px;
        gap: 12px;

        & ::-webkit-scrollbar {
          display: none; /* Chrome Safari */
        }

        .avatar_card {
          flex-shrink: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: calc(100% - 16px);
          width: 100px;
          background-color: rgba(249, 246, 246, 0.8);
          align-items: center;
          padding-top: 8px;
          padding-bottom: 8px;
          border-radius: 6px;

          .avatar {
            width: 74px;
            height: 74px;
            border-radius: 50%;
          }
          text {
            font-size: 14px;
          }
        }
      }

      .phone_num {
        display: flex;
        height: 28px;
        align-items: center;
        margin-top: 6px;
        font-size: 14px;
        color: rgb(27, 26, 26);
      }
    }

    .zhoubianpeitao {
      padding-top: 16px;
      padding-left: 16px;
      padding-right: 16px;
      height: 62px;
      display: flex;
      justify-content: space-between;

      .title {
        font-size: 18px;
        display: flex;
        align-items: center;
      }

      .project_wrap {
        display: flex;
        align-items: center;

        text {
          font-size: 14px;
        }

        image {
          width: 24px;
          height: 24px;
        }
      }
    }

    .else_info {
      padding-top: 16px;
      padding-left: 16px;
      padding-right: 16px;
      height: 96px;

      .title {
        height: 26px;
        font-size: 18px;
      }

      .text_wrap {
        margin-top: 8px;
        border-radius: 8px;
        height: calc(100% - 26px);
        width: 100%;
        font-size: 14px;
        border: solid 1px #e6e6e6;
      }
    }

    .btn_wrap {
      // padding-left: 16px;
      // padding-right: 16px;
      height: 48px;
      position: fixed;
      bottom: 0px;
      padding-bottom: 24px;
      padding-top: 8px;
      width: calc(100% - 32px);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      right: 16px;
      left: 16px;
      border-radius: 8px;
      gap: 6px;
      background-color: #ffffff;

      .business {
        width: 228px;
        border-radius: 5px;
        background: #f8f8f8;
        border: 1px solid #4ba8e6;
        color: #4ba8e6;
        font-size: 16px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .reserve {
        height: 100%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background: #4ba8e6;
        color: #ffffff;
        font-size: 16px;
      }
    }
  }
}
.at-modal__overlay {
  top: 0;
  left: 0;
  overflow-y: hidden;
  position: fixed;
  height: 100vh;
  width: 100vw;
  // z-index: 999;
}

.at-modal__container {
  width: 80%;
  .modal_content {
    height: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;

    .avatar_and_name_phone {
      display: flex;
      flex-direction: row;
      gap: 8px;
      // justify-content: center;

      .avatar {
        width: 72px;
        height: 72px;
        border-radius: 50%;
      }

      .name_and_phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;

        .name {
          font-size: 14px;
        }

        .phone {
          font-size: 14px;
        }
      }
    }

    .btn_wrap {
      height: 36px;
      display: flex;
      gap: 18px;

      .consult {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        border: solid 1px #4ba8e6;
        border-radius: 8px;
      }

      .reserve {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        background-color: #4ba8e6;
        border-radius: 8px;
        color: white;
      }
    }
  }
}
