.page_view {
  // position: relative;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  /* 使用两个背景层 */
  background: linear-gradient(
        180deg,
        rgba(235, 239, 249, 1) 0%,
        rgba(215, 224, 250, 1) 0%,
        rgba(255, 255, 255, 1) 100%,
        rgba(251, 252, 254, 1) 100%,
        rgba(247, 249, 253, 1) 100%
      )
      no-repeat,
    white;

  background-size: 100% 400px; /* 仅让渐变背景覆盖前 40px 高度 */
  background-position: top; /* 渐变背景固定在顶部 */

  .user_wrapper {
    height: 100vh;
    display: flex;
    width: 100vw;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow-y: auto;

    .avatar_warp {
      height: 100px;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 16px;
      display: flex;
      align-items: center;
      cursor: pointer;

      .avatar {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        margin-right: 16px;
      }

      .username {
        font-size: 16px;
        margin-right: 32px;
      }

      .more {
        width: 32px;
        margin-right: 4px;
        height: 32px;
        // margin-left: auto;
      }
    }

    .menu_warp {
      display: flex;
      flex-direction: column;
      flex: 1;
      background-color: white;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      padding-top: 32px;
      padding-left: 24px;
      padding-right: 24px;

      .menu_item {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .title_wrap {
          display: flex;
          align-items: center;
          height: 100%;
          gap: 16px;
        }
      }
    }
  }
}
