.page_view {
  // position: relative;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  /* 使用两个背景层 */
  background: linear-gradient(
        180deg,
        rgba(235, 239, 249, 1) 0%,
        rgba(215, 224, 250, 1) 0%,
        rgba(255, 255, 255, 1) 100%,
        rgba(251, 252, 254, 1) 100%,
        rgba(247, 249, 253, 1) 100%
      )
      no-repeat,
    white;

  background-size: 100% 300px; /* 仅让渐变背景覆盖前 40px 高度 */
  background-position: top; /* 渐变背景固定在顶部 */

  .user_detail_wrapper {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    justify-content: space-between;
    padding-bottom: calc(constant(safe-area-inset-bottom));
    padding-bottom: calc(env(safe-area-inset-bottom));

    .menu_wrap {
      display: flex;
      flex-direction: column;

      .menu_item {
        height: 64px;
        display: flex;
        // justify-content: center;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px #ede6e6;

        .label {
          font-size: 16px;
          font-weight: 500;
          color: rgba(51, 51, 51, 1);
          height: 100%;
          display: flex;
          align-items: center;
          margin-right: 4px;
        }

        .value {
          font-size: 16px;
          font-weight: 500;
          color: rgb(53, 52, 52);
          flex: 1;
          display: flex;
          flex-direction: row-reverse;
          height: 100%;
          display: flex;
          align-items: center;
        }

        .input-field {
          flex: 1;
          text-align: right; // 让文字靠右显示
          font-size: 16px;
          color: rgb(53, 52, 52);
          border: none; // 去掉默认边框
          outline: none; // 去掉选中时的外边框
          padding-right: 4px; // 给右边留一点间距
        }

        .edit_svg {
          height: 24px;
          width: 24px;
        }

        .avatar {
          width: 56px;
          height: 56px;
          border-radius: 50%;
        }
      }
    }

    .btn_wrap {
      height: 48px;
      background-color: #2772f3;
      border-radius: 999px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
    }
  }
}
@import "~taro-ui/dist/style/components/float-layout.scss";

.login-phone-modal {
  .layout {
    border-radius: 24px 24px 0 0;
    min-height: 0;

    .layout-header {
      background: none;
    }
    .layout-body {
      padding: 0;
      min-height: 0;
      z-index: 999;

      .layout-body__content {
        display: flex;
        align-items: center;
        min-height: 0;
      }
    }
    .modal-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 32px 24px;
      padding-bottom: calc(constant(safe-area-inset-bottom) + 16px);
      padding-bottom: calc(env(safe-area-inset-bottom) + 16px);

      .logo {
        width: 192px;
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
        .img {
          width: 192px;
          height: 66px;
        }
      }

      .btn {
        background: #2772f3;
        border-radius: 999px;
        width: 100%;
        color: #fff;
        font-size: 18px;
      }
      .not-login {
        color: #2772f3;
        font-size: 18px;
      }
    }
  }
}
