@import "~taro-ui/dist/style/components/tabs.scss";

.page_view {
  // position: relative;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  /* 使用两个背景层 */
  background: linear-gradient(
        180deg,
        rgba(235, 239, 249, 1) 0%,
        rgba(215, 224, 250, 1) 0%,
        rgba(255, 255, 255, 1) 100%,
        rgba(251, 252, 254, 1) 100%,
        rgba(247, 249, 253, 1) 100%
      )
      no-repeat,
    white;

  background-size: 100% 300px; /* 仅让渐变背景覆盖前 40px 高度 */
  background-position: top; /* 渐变背景固定在顶部 */

  .reserve_collection__wrapper {
    display: flex;
    margin-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 32px;
    flex: 1;
    height: 100%;
    overflow-y: auto;

    .card_wrap {
      height: 102px;
      display: flex;
      align-items: center;
      padding-left: 8px;
      padding-right: 8px;

      .img_wrap {
        border-radius: 8px;
        height: 100%;
        width: 90px;
        height: 68px;
      }

      .info_wrap {
        margin-left: 8px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: center;
        font-size: 14px;
        font-weight: 400;

        .location {
        }

        .area {
        }

        .price {
        }
      }

      .collection {
        width: 24px;
        height: 24px;
        margin-left: auto;
      }
    }

    .at-tabs {
      margin-top: 12px;
      .at-tabs__header {
        display: flex;
        height: 40px;
        align-items: center;
        background-color: transparent;

        .at-tabs__item {
          flex: 1;
          display: flex;
          justify-content: center;
          font-size: 16px !important;
          height: 40px !important;
          padding: 0 !important;
          align-items: center;
        }
      }

      .at-tabs__body {
        margin-top: 0px;
        height: calc(100% - 40px);
        // background-color: white !important;
        background-color: transparent;

        .at-tabs-pane--active {
          height: 100%;
        }
      }
    }
  }
}
