@import "~taro-ui/dist/style/components/form.scss";
@import "~taro-ui/dist/style/components/list.scss";

.reserve_building_wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;

  .title {
    font-size: 24px;
  }

  .prompt {
    font-size: 14px;
    margin-top: 12px;
  }

  form {
    margin-top: 48px;

    .input_warp {
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-size: 14px;

      .label {
        display: flex;
        gap: 4px;
        align-items: center;

        .star {
          color: red;
        }
        .label_value {
          font-size: 14px;
        }
      }

      input {
        height: 42px;
        border-radius: 4px;
        background: #ffffff;
        border: 1px solid #797878;
        // box-shadow: 0px 0px 1px #000000;
        padding-left: 16px;
        padding-right: 16px;
      }
      .placeholder {
        color: #4f4e4f;
        font-size: 14px;
      }

      textarea {
        height: 82px;
        border-radius: 4px;
        background: #ffffff;
        border: 1px solid #797878;
        // box-shadow: 0px 0px 1px #000000;
        padding: 8px;
        width: unset;
      }
    }

    .picker_warp {
      border-radius: 4px;
      border: 1px solid #797878;

      .select_location_wrap {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }

    picker {
      height: 38px;

      .at-list {
        height: 38px;

        // .at-list__item {
        //   padding: 0px;
        //   font-size: 14px;
        //   height: 100%;
        //   display: flex;
        //   align-items: center;
        // }
      }
    }

    .sub_btn {
      width: calc(100vw - 32px);
      box-sizing: border-box;
      // margin-left: 16px;
      // margin-right: 16px;
      position: fixed;
      bottom: 38px;
      padding: 0;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      background: #4ba8e6;
      color: #ffffff;
      font-size: 16px;
    }
  }

  .picker_input {
    border-radius: 4px;
    height: 42px;
    border: 1px solid #797878;
    // box-shadow: 0px 0px 1px #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;

    text {
      font-size: 14px;
      color: #4f4e4f;
    }

    image {
      width: 24px;
      height: 24px;
    }
  }
}
