@import "~taro-ui/dist/style/components/avatar.scss";
@import "~taro-ui/dist/style/components/textarea.scss";

.build_detail_wrap {
  display: flex;
  // padding-left: 16px;
  // padding-right: 16px;
  flex-direction: column;
  padding-bottom: calc(56px + constant(safe-area-inset-bottom));
  padding-bottom: calc(56px + env(safe-area-inset-bottom));

  .img_wrap {
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
    height: 200px;
    border-radius: 8px;

    image {
      max-height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  .building_name {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
  }

  .building_location {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    text {
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      color: rgba(77, 77, 77, 1);
    }

    image {
      height: 24px;
      width: 24px;
    }
  }

  .tag_wrap {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    gap: 8px;
    margin-top: 16px;

    .at-tag {
      padding: 4px 16px;
      border-radius: 999px;
      height: 20px;
      font-size: 12px;
      display: flex;
      color: #4d4d4d;
      justify-content: center;
      align-items: center;
      line-height: unset;
      background-color: #cfcfcf;
    }
  }

  .building_info {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 16px;
    // height: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;

    .info_item {
      display: flex;
      // justify-content: center;
      flex-direction: column;
      // align-items: center;
      // border-width: 1px;
      // border: solid #4d4d4d;

      .value {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.8);
      }

      .label {
        font-size: 12px;
        color: rgba(77, 77, 77, 1);
      }
    }
  }

  .diver_wrap {
    height: 24px;
    background-color: rgba(170, 159, 175, 0.1);
  }

  .investment_consultant {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    padding-top: 16px;

    .title {
      font-size: 18px;
    }

    .avatar_wrap {
      display: flex;
      align-items: center;
      height: 64px;

      .avatar {
        margin-top: 8px;
        width: 56px;
        height: 56px;
        border-radius: 50%;
      }

      .name_and_phone_wrap {
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        gap: 4px;

        text {
          font-size: 14px;
        }
      }
    }

    .phone_num {
      display: flex;
      height: 28px;
      align-items: center;
      margin-top: 6px;
      font-size: 14px;
      color: rgba(77, 77, 77, 1);
    }
  }

  .belong_project {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    height: 42px;
    display: flex;
    justify-content: space-between;

    .title {
      font-size: 18px;
      display: flex;
      align-items: center;
    }

    .project_wrap {
      display: flex;
      align-items: center;

      text {
        font-size: 14px;
      }

      image {
        width: 24px;
        height: 24px;
      }
    }
  }

  .else_info {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    height: 96px;

    .title {
      height: 26px;
      font-size: 18px;
    }

    .text_wrap {
      margin-top: 8px;
      border-radius: 8px;
      height: calc(100% - 26px);
      width: 100%;
      font-size: 14px;
      border: solid 1px #e6e6e6;
    }
  }

  .btn_wrap {
    // padding-left: 16px;
    // padding-right: 16px;
    height: 48px;
    position: fixed;
    color: white;
    bottom: 0px;
    padding-bottom: 20px;
    padding-top: 8px;
    width: calc(100% - 32px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    right: 16px;
    left: 16px;
    background-color: white;

    .btn {
      background: #2772f3;
      height: calc(100% - 20px);
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      border-radius: 8px;
      height: 100%;
    }
  }
}
