.building_card_wrap {
  height: 96px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  justify-content: space-between;
  box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 1);
  padding-left: 8px;
  padding-right: 8px;

  .img_wrap {
    border-radius: 8px;
    height: 100%;
    width: 90px;
    height: 74px;
  }

  .info_wrap {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;

    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
  }

  .collection {
    width: 22px;
    height: 22px;
    margin-left: auto;
  }
}
